@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Rubik:wght@400;600&display=swap');
@import url('sidenav.css'); /* Import the sidenav styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

#stickyHeader{
  position: sticky;
  top: 0px;
}
header {
  padding: 5px 15px;
  height: 110px; /* Adjust header height as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
}

.logo img:first-child {
  margin-right: 12px;
}

h1 {
  font-size: 18px;
  margin: 0;
}

.custom-btn { /* Menu icon */
  background-color: transparent; /* No background color */
  color: white; /* White icon color */
  border: none;
  padding: 10px; /* Larger padding for the hamburger icon */
  font-size: 32px; /* Increase the font size of the icon */
  width: 60px; /* Set width to make it square */
  height: 60px; /* Set height to make it square */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the icon inside the button */
  transition: background 0.3s;
}

.custom-btn:hover {
  background-color: #002244; /* Darker background on hover */
}

.disabled-menu {
  background: none;
  color: #888; /* Gray color */
  border: none;
  cursor: not-allowed;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.lock-icon {
  margin-left: auto; /* Pushes only the lock icon to the right */
  position: absolute; /* Keeps it fixed */
  right: 28px; /* Adjust the spacing from the right */
}

@media (max-width: 768px) {
  h1 {
    font-size: 16px;
  }

  .logo img {
    height: 45px;
  }

  .custom-btn {
    padding: 10px;
    font-size: 20px; /* Reduce font size slightly for medium screens */
  }
}


@media (max-width: 976px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 10px 5px;
  }

  .logo {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  h1 {
    font-size: 14px;
    margin: 5px 0;
  }

  .custom-btn {
    width: 50px; /* Maintain square button for smaller screens */
    height: 50px;
    font-size: 22px; /* Adjust icon size */
    margin-top: 10px;
  }
}

#dictLogo {
  height: 80px;
  width: auto;
}