.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 2px solid #ccc;
    padding: 10px;
    height: 300px; /* Adjust as needed */
    border-radius: 50px;
    margin: 10px;
    position: relative;
}

.box img {
    max-width: 80%; /* Ensures the image is responsive */
    max-height: 80%; /* Keeps image within the box */
}

.box {
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.box:hover {
    transform: scale(1.1); /* Slightly enlarges the container */
}
