header {
    padding: 5px 15px;
}

.logo img {
    height: 50px;
    width: auto;
}

.logo img:first-child {
    margin-right: 12px;
}

h1 {
    font-size: 18px;
    margin: 0;
}

.custom-btn {
    background-color: #003366; /* Darker Blue */
    color: white;
    border: none;
    padding: 6px 30px;
    font-size: 14px;
    border-radius: 0; /* Removed rounded edges */
    transition: background 0.3s;
}

.custom-btn:hover {
    background-color: #002244; /* Even darker blue on hover */
}

@media (max-width: 768px) {
    h1 {
        font-size: 16px;
    }
    
    .logo img {
        height: 45px;
    }
    
    .custom-btn {
        padding: 5px 10px;
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 5px;
    }

    .logo img {
        height: 40px;
    }

    h1 {
        font-size: 14px;
    }

    .custom-btn {
        margin-top: 5px;
        width: 90px;
        font-size: 12px;
    }
}
